{% assign socials = site.blog.socials %}
{% if site.author.email %}
  <a href="mailto:{{ site.author.email }}" target="_blank" style="color: #666">
    <span class="bi bi-envelope-open-fill"></span>
  </a>
{% endif %}
{% if socials.linkedin %}
  <a href="https://www.linkedin.com/in/{{ socials.linkedin | cgi_escape | escape }}" target="_blank" style="color: #0077b5;">
    <span class="fa fa-linkedin"></span>
  </a>
{% endif %}
{% if socials.twitter %}
  <a href="https://twitter.com/{{ socials.twitter | cgi_escape | escape }}" target="_blank" style="color: #1da1f2">
    <span class="fa fa-twitter"></span>
  </a>
{% endif %}
{% if socials.medium %}
  <a href="https://{{ socials.medium }}.medium.com/" target="_blank" style="color: #000;">
    <span class="fa fa-medium"></span>
  </a>
{% endif %}
{% if socials.github %}
  <a href="https://github.com/{{ socials.github }}" target="_blank" style="color: #000;">
    <span class="fa fa-github"></span>
  </a>
{% endif %}
