---
layout: default
---
<div class="posts">
  <h2 style="color: #e03c31;" class="venenosa">Tag #{{page.tag}}</h2>
  <ul>
    {% assign all_content = site.research | concat: site.notes %}
    {% for content in all_content %}
      {% if content.tags contains page.tag %}
        <li>
          <a href="{{ content.url }}">{{ content.title }}</a>
          <time datetime="{{ content.date | date_to_xmlschema }}">{{ content.date | date: "%m-%d-%Y" }}</time>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
